html, body {
    background-color: #fdd6d7;
    font-family: 'Nunito', sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#navbar {
    background-color: #fdd6d7;
    font-size: 1.25rem;
    font-weight: 600;
    position: sticky;
    top: 0;
}

#navbar .nav-link:hover {
    color: white;   
}

.navbar-brand {
    padding-right: 10px;
    animation: bounce 2s;
}

@keyframes bounce {
    0% {
        filter: opacity(0);
        transform: translateY(0);
    }
    50% {
        filter: opacity(0.5);
        transform: translateY(-25px);
    }
    100% {
        filter: opacity(1);
        transform: translateY(0px);
    }
}

h1 {
    font-size: 3.5rem;
    font-weight: 800;
    color: #333;
}

h2 {
    font-size: 2rem;
    font-weight: 800;
}

p {
    font-size: 2rem;
    line-height: 1.5;
    color: #555;
}

#header-section, #about-section, #contact-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.btn-primary {
    margin: 8px;
    background-color: #ff6f91;
    border: none;
}

.btn-primary:hover {
    color: #555;
    background-color: white;
    border: none;
}

.img-fluid {
    border-radius: 8px;
    align-items: center;
}

#contact-form, #contact-info {
    padding: 0 48px;
}

form {
    display: flex;
    flex-direction: column;
    border: 2px solid #555;
    border-radius: 8px;
    padding: 32px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}

footer {
    color: #ff6f91;
    padding: 16px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p {
    font-size: 1.5rem;
    font-weight: 500;
}

#footer-socials img {
    width: 35px;
    margin-left: 35px;
}

.form-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 1.5rem;
    font-weight: 700;
    column-gap: 32px;
    margin-top: 32px;
    grid-template-areas:    "name subject"
                            "email phone"
                            "message message";
}

.form-group input {
    background-color: #fdd6d7;
    padding: 16px;
    margin-bottom: 32px;
    font-size: 1rem;
    border: none;
    outline: none;
    border-bottom: 1px solid #555;
    width: 100%;
}

#input-message {
    grid-area: message;
}
@media (max-width: 576px) {
    h1 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 2.5rem;
    }

    p {
        font-size: 1.5rem;
    }
}
@media only screen and (max-width: 992px) {
    #header {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        align-items: center;
    }
    
    #about-section, #footer {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .contact-form-container, .contact-info-container {
        align-items: center;
        text-align: center;
        margin-bottom: 32px;
    }
}

@media only screen and (max-width: 1200px) {
    .contact-form-container, .contact-info-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

@media only screen and (max-width: 1550px) {
    .contact-form-container, .contact-info-container, .form-group {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

