/* *, html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
} */

/* .navbar {
    display: flex;
    justify-content: center;
    padding-top: 25px;
    width: 100%;
    height: 100vh;
    background-color: #fdd6d7;
} */

/* .container {
    width: 98%;
    height: 80px;
    padding: 15px;
    display: flex;
    align-items: center;
}

.brand {
    display: flex;
    flex-direction: column;
    padding: 15px;
    text-align: center;
}

.logo {
    width: 200px;
    display: flex;
    flex-direction: column;
}

.menu {
    margin-left: auto;
    padding: 15px;
    padding-bottom: 50px;
    list-style: none;
    display: flex;
    gap: 20px;
}

.menu li a {
    color : gray;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s ease-in-out;
}

.menu li a:hover {
    color: black;
    font-weight: 500;
}

@media (max-width: 550px) {
    .container {
        flex-direction: column;
        height: auto;
        text-align: center;
        margin: auto;
    }
    .navbar {
        flex-direction: column;
        height: auto;
        text-align: center;
    }
    .menu {
        margin: 10px 0 0 0;
        padding: 0;
        flex-direction: column;
        gap: 10px;
    }
} */