* {
    background-color: #fdd6d7;
    font-family: 'Nunito', sans-serif;
    scroll-behavior: smooth;
}

#navbar {  
    font-size: 1.25rem;
    font-weight: 600;
}

#navbar .nav-link:hover {
    color: white;
    
}

h1 {
    font-size: 3.5rem;
    font-weight: 800;
    color: #333;
}

p {
    font-size: 2rem;
    line-height: 1.6;
    color: #555;
}

#header-section, #about-section, #contact-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.btn-primary {
    margin: 8px;
    background-color: #ff6f91;
    border: none;
}

.btn-primary:hover {
    color: #555;
    background-color: white;
    border: none;
}

#submit-btn {
    display: flex;
    
}

.img-fluid {
    border-radius: 8px;
    align-items: center;
}

#contact-form, #contact-info {
    padding: 0 48px;
}

#contact-form {
    border: 2px solid #555;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 16px;
    grid-template-areas:    "name subject"
                            "email phone"
                            "message message";
}

.form-group input, .form-group textarea {
    padding: 16px;
    font-size: 1rem;
    border: none;
    width: 100%;
}

@media (max-width: 576px) {
    h1 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 2.5rem;
    }

    p {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 992px) {
    #header-section {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        align-items: center;
    }
    #about-section, #contact-section {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    #contact-form, #contact-info {
        display: flex;
        flex-direction: column;
        padding: 0 16px;
        margin: 16px 64px;
    }
}